# ================================
# COMMON FILES TO IGNORE
# ================================

# Dependency folders
node_modules/

# Build output
dist/
build/

# Environment variable files
.env
.env.*    # env files like .env.local, .env.development

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS system files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.swp
*.swo

# Angular specific
.angular/
coverage/

# React or Vite specific
.cache/
.next/
out/

# Misc
*.bak
*.tmp
*.tgz
